* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v4_313 {
  width: 100%;
  height: 685px;
  background: url("../images/v4_313.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v4_314 {
  width: 71px;
  height: 36px;
  background: url("../images/v4_314.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 649px;
  left: 556px;
  overflow: hidden;
}
.v4_315 {
  width: 71px;
  color: rgba(51,51,51,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Poppins;
  font-weight: SemiBold;
  font-size: 24px;
  opacity: 1;
  text-align: center;
}
.v4_316 {
  width: 381px;
  height: 480px;
  background: url("../images/v4_316.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 139px;
  left: 0px;
  overflow: hidden;
}
.v4_317 {
  width: 381px;
  height: 480px;
  background: rgba(17,17,17,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
}
.v4_318 {
  width: 825px;
  height: 550px;
  background: url("../images/v4_318.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 11px;
  left: 691px;
  overflow: hidden;
}
.v4_319 {
  width: 782px;
  height: 521px;
  background: url("../images/v4_319.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 31px;
  left: 0px;
  overflow: hidden;
}
.v4_320 {
  width: 79px;
  color: rgba(51,51,51,1);
  position: absolute;
  top: 649px;
  left: 151px;
  font-family: Poppins;
  font-weight: SemiBold;
  font-size: 24px;
  opacity: 1;
  text-align: center;
}
.v4_321 {
  width: 381px;
  height: 480px;
  background: url("../images/v4_321.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 139px;
  left: 401px;
  overflow: hidden;
}
.v4_322 {
  width: 381px;
  height: 480px;
  background: rgba(242,245,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
}
.v4_323 {
  width: 488px;
  height: 732px;
  background: url("../images/v4_323.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 80px;
  left: 473px;
  overflow: hidden;
}
.v4_324 {
  width: 992px;
  height: 558px;
  background: url("../images/v4_324.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 837px;
  overflow: hidden;
}
.v4_325 {
  width: 762px;
  height: 508px;
  background: url("../images/v4_325.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 14px;
  left: 381px;
  overflow: hidden;
}
.v4_326 {
  width: 381px;
  height: 480px;
  background: url("../images/v4_326.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 139px;
  left: 802px;
  overflow: hidden;
}
.v4_327 {
  width: 381px;
  height: 480px;
  background: rgba(244,244,244,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
}
.v4_328 {
  width: 401px;
  height: 601px;
  background: url("../images/v4_328.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 120px;
  left: 20px;
  overflow: hidden;
}
.v4_329 {
  width: 375px;
  height: 562px;
  background: url("../images/v4_329.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 15px;
  left: 0px;
  overflow: hidden;
}
.v4_330 {
  width: 720px;
  height: 480px;
  background: url("../images/v4_330.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 88px;
  overflow: hidden;
}
.v4_331 {
  width: 112px;
  height: 36px;
  background: url("../images/v4_331.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 649px;
  left: 936px;
  overflow: hidden;
}
.v4_332 {
  width: 112px;
  color: rgba(51,51,51,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Poppins;
  font-weight: SemiBold;
  font-size: 24px;
  opacity: 1;
  text-align: center;
}
.v4_333 {
  width: 559px;
  height: 76px;
  background: url("../images/v4_333.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 318px;
  overflow: hidden;
}
.v4_334 {
  width: 300px;
  color: rgba(51,51,51,1);
  position: absolute;
  top: 0px;
  left: 94px;
  font-family: Poppins;
  font-weight: Bold;
  font-size: 32px;
  opacity: 1;
  text-align: left;
}
.v4_335 {
  width: 559px;
  color: rgba(102,102,102,1);
  position: absolute;
  top: 48px;
  left: 0px;
  font-family: Poppins;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: center;
}
