/* base.css */
body {
    background-color: #ffffff;
    color: #000000;
    font-family: "Noto Sans KR", sans-serif;
}

.section-title {
    color: #1E1E1E;
    font-size: 16px;
    font-weight: 600;
    line-height: 22.4px;
    margin-bottom: 16px;
}

.menu-item {
    color: #1E1E1E;
    font-size: 16px;
    font-weight: 400;
    line-height: 22.4px;
}
/*
button {
    border-radius: 6px;
    border: var(--sds-size-stroke-border) solid var(--Primary-Color-Dark, #0400DB);
    opacity: var(--sds-size-stroke-border);
    background: var(--Primary-Color-Dark, #0400DB);
    color: white;
    font-size: 11px;
    font-weight: 600;
    line-height: 16px;
    word-wrap: break-word
}
*/