<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>로그인</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="test.css">
</head>
<body>

    <%- include('menu.html') %>

    <div class="container">
        <div id="wrapper">
            <div class="section">
                <div class="input-container">
                    <form action="/login" method="post">
                        <div class="form-group">
                        <label>아이디</label>
                        <input type="text" name="아이디" class="form-control" required>
                        </div>
                        <p></p>
                        <div class="form-group">
                        <label>비밀번호</label>
                        <input type="password" name="비밀번호" class="form-control" required>
                        </div>
                        <p></p>
                        <button>로그인</button>
                        <p></p>
                        <a href = "/facebook">Facebook</a>
                        <p></p>
                        <a href = "/google">Google</a>
                        <p></p>
                        <a href = "/naver">Naver</a>
                        <p></p>
                        <a href = "/kakao">Kakao</a>
                    </form>
                </div>
            </div>
        </div>
    </div>

        <%- include('footer.html') %>

        <% if (typeof error !== 'undefined') { %>
            <script>
                alert("<%= error %>");
            </script>
        <% } %>
    
</body>
</html>
    