<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Home</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="test.css">

  </head>
  <body>

    <%- include('menu.html') %>

    <div class="container">
        <div class="section headerImage">
            <img src="../public/images/gradient2.png">
            <div class="textSection">
                <div class="textContent">
                    <div class="mainHeading">앗!스프링!<br>Artspring</div>
                    <div class="subHeading">꽃 피우는 날을 기다리는 당신에게 봄을 선물합니다.</div>
                </div>
                <a href="/input">
                    <div class="discoverButton">상품 등록하기</div>
                </a>
                <!--버튼 텍스트에 맞춰서 왼쪽 정렬시키기-->
            </div>
        </div>
      </body>
</html>