<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap" rel="stylesheet">
<link rel="stylesheet" href="test.css">


<nav>
    <div class="menuBar">
        <div class="menuContainer">
            <div class="logo">
                <a href="/main">
                    <img src="../public/images/logo_black.svg" class="logoImage">
                </a>
            </div>
            <div class="menuItems">
                <a href="/main"><div class="menuItem">Home</div></a>
                <a href="/store"><div class="menuItem">Stores</div></a>
                <a href="/market"><div class="menuItem">Market</div></a>
                <a href="/product"><div class="menuItem">Products</div></a>

                <a href="../html/article.html"><div class="menuItem">Magazine</div></a>
                <a href="../html/aboutUs.html"><div class="menuItem">About Us</div></a>
                <a href="../html/contact.html"><div class="menuItem">Contact</div></a>
            </div>

            <div class="search-container icons">
                <div class="search-wrapper">
                    <input type="text" id="searchInput" class="search-field" placeholder="검색하기">
                    <div id="searchButton" class="icons icon searchIcon">
                        <img src="../public/images/icon_search.svg" alt="Search Icon">
                    </div>
                </div>
            </div>
        
            <div class="icons">
                <div class="icon cartIcon tooltip-container">
                    <a href="장바구니.html">
                    <img src="../public/images/icon_cart.svg" class="tooltip-image">
                    </a>
                    <span class="tooltip-text">장바구니</span>
                </div>
                <div class="icon memberIcon dropdown-container">
                    <a href="/login">
                    <img src="../public/images/icon_member.svg" class="dropdown-image">
                    </a>
                    <div class="dropdown-menu">
                        <a href="/login">로그인</a>
                        <a href="/signup">회원가입</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</nav>       
