* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v4_278 {
  width: 100%;
  height: 812px;
  background: url("../images/v4_278.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.v4_299 {
  width: 100%;
  height: 716px;
  background: url("../images/v4_299.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 95px;
  left: 0px;
  overflow: hidden;
}
.v4_300 {
  width: 100%;
  height: 716px;
  background: url("../images/v4_300.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v4_301 {
  width: 100%;
  height: 716px;
  background: rgba(68,174,232,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border: 0px solid rgba(150,150,150,1);
  overflow: hidden;
}
.v4_302 {
  width: 100%;
  height: 716px;
  background: rgba(68,174,232,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border: 0px solid rgba(150,150,150,1);
  overflow: hidden;
}
.v4_303 {
  width: 100%;
  height: 100%;
  background: url("../images/v4_303.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 171px;
  left: 0px;
  overflow: hidden;
}
.v4_304 {
  width: 643px;
  height: 443px;
  background: url("../images/v4_304.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 157px;
  left: 739px;
  overflow: hidden;
}
.v4_305 {
  width: 643px;
  height: 443px;
  background: rgba(255,242,227,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
}
.v4_306 {
  width: 561px;
  height: 344px;
  background: url("../images/v4_306.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 62px;
  left: 39px;
  overflow: hidden;
}
.v4_307 {
  width: 559px;
  color: rgba(184,142,47,1);
  position: absolute;
  top: 28px;
  left: 2px;
  font-family: Poppins;
  font-weight: Bold;
  font-size: 52px;
  opacity: 1;
  text-align: left;
}
.v4_308 {
  width: 546px;
  color: rgba(51,51,51,1);
  position: absolute;
  top: 172px;
  left: 2px;
  font-family: Poppins;
  font-weight: Medium;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v4_309 {
  width: 222px;
  height: 74px;
  background: rgba(184,142,47,1);
  padding: 25px 72px;
  margin: 10px;
  opacity: 1;
  position: absolute;
  top: 270px;
  left: 0px;
  overflow: hidden;
}
.v4_310 {
  width: 78px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 25px;
  left: 72px;
  font-family: Poppins;
  font-weight: Bold;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v4_311 {
  width: 123px;
  height: 24px;
  background: url("../images/v4_311.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 2px;
  overflow: hidden;
}
.v4_312 {
  width: 123px;
  color: rgba(51,51,51,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Poppins;
  font-weight: SemiBold;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
